
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');


*{
  font-family: 'Nunito', sans-serif;
  margin:0; 
  padding:0;
  box-sizing: border-box;
  outline: none; 
  border:none;
  text-decoration: none;
  text-transform: capitalize;
  transition:all .2s linear;
}

header {
  position: fixed;
  top : 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  padding : 20px 10%;
  box-shadow: 5px 2px 5px #aaaaaa;
  z-index: 100;
}

header .logo {
  font-size: 30px;
  font-weight: bolder;
  color: red;
}
header a{
  margin-left: 5px;
  color: brown;
  font-size: large;
  padding: 0 15px;
}

section{
  padding:20px;
}
.our-details{
  align-items: center;
  display:flex;
  flex-direction:column;
  left:0;
  position:absolute;
  top:80px;
  width:100%;
  padding: 40px;
}
.bg{
  background-image: url('images/bg.jpg');
}
.our-details h1{
  color:black;
  margin-right:2px;
  white-space: nowrap;
  font-size: 40px;
}
.our-details .group-ps{
  align-items:flex-start;
  display:flex;
}
.our-details .group-ps .shop{
  color: orangered;
  font-size:20px;
  font-weight: bold;
  white-space: nowrap;
}
.our-details .group-ps .caven{
  color: black;
  font-size:20px;
  margin-left: 10px;
  margin-right: 10px;
  white-space: nowrap;
  font-weight: bold;

}
.our-details .group-ps .place{
  color:black;
  font-size:20px;
  font-weight: bold;
  white-space: nowrap;
}
/* menu details*/
.pizza-detail{
    align-items: flex-start;
    display:flex;
    gap:5px;
    height:718px;
    margin-left:100px;
    margin-top:300px;
    width:1328px;
}
.flex-col-1{
  align-items:flex-start;
  display:flex;
  flex-direction:column;
  gap:24px;
  height:588px;
  width:100px;
}
.pizza-side{
  height:109px;
  width:112px;
}
.pizza-m{
  height:510px;
  width:431px;
}
.flex-col-2{
    align-items: flex-start;
    display:flex;
    flex-direction:column;
    height:718px;
    width:400px;
}
.group-container{
    align-items: flex-start;
    display:flex;
    gap:380px;
    height:32px;
    min-width:618px;
}
.chi-dan{
    align-items: center;
    display:flex;
    height:26px;
    width:152px;
}
.prev{
    color: gray;
    letter-spacing:0;
    line-height:26px;
    margin-left:4px;
    width:39px;
    white-space: nowrap;
    cursor: pointer;
}
.prev:hover {
  color: orangered;
}
.arrow-r{
    height:24px;
    margin-left:250px;
    width:24px;
}
.arrow-l{
    height:24px;
    width:24px;
  }

.next{
  color: gray;
  letter-spacing:0;
  line-height:26px;
  margin-left:16px;
  width:41px;
  white-space: nowrap;
  cursor: pointer;
}
.next:hover {
  color: orangered;
}
.pizza-heading{
  color:black;
  font-weight:700;
  margin-top:8px;
  white-space: nowrap;
  font-size: 35px;
}
.mota-pizza{
  letter-spacing:0;
  margin-top:24px;
  text-transform: none;
}
.gia-pizza{
  color:orangered;
  font-weight:700;
  font-size: 20px;
  margin-top:32px;
  white-space: nowrap;
}
.rating{
  align-items:center;
  display:flex;
  gap:14px;
  margin-top:16px;
  width:333px;
}
.stars{
  align-items:flex-start;
  display:flex;
  gap:4px;
  width:116px;
}
.star{
  height:20px;
  width:20px;
}
.rataing{
  align-items:center;
  display:flex;
  height:20px;
  width:200px;
}
.rating-score{
  letter-spacing:0;
  white-space: nowrap;
  border-left: 1px solid grey;
  padding-left: 10px;
  padding-right: 10px;
  
}
.review-count{
  letter-spacing:0;
  white-space: nowrap;
  border-left: 1px solid grey;
  padding-left: 10px;
}
.overlap-group-container{
  align-items:flex-start;
  display:flex;
  margin-top:25px;
  width:388px;
  padding-bottom: 30px;
  border-bottom: 1px solid gray;
}

.overlap-group{
  align-items:center;
  background-color:orangered;
  display:flex;
  gap:8px;
  height:50px;
  width:150px;
  padding:0 20px;
  cursor: pointer;
}
.video{
  height:20px;
  width:20px;
}

.category{
  margin-top:20px;
}


.social-content{
    height:24px;
    width:184px;
}
.share-t{
    letter-spacing:0;
    line-height:26px;
    width:60px;
    white-space: nowrap;
}
.image-contant{
  align-items:flex-start;
  display:flex;
  gap:24px;
  width:600px;
}

.footer {
  background-color: rgb(14, 13, 13);
  color : white;
}

.footer .share {
  display: flex;
  justify-content: space-around;
}

.share .left h3 {
  padding-bottom: 20px;
  font-weight: 600px;
  font-size: 30px;
}

.share .left li{
  display: flex;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 0.5px dotted white;
  justify-content: space-between;
}

.share .right h3:first-child{
  font-size: 30px;
  margin-bottom: 20px;
}
/* media queries  */

@media(max-width:991px){

  html{
    font-size: 55%;
  }

  header{
    padding:2rem;
  }

  section{
    padding:2rem;
  }

}

@media(max-width:768px){

  .navbar{
    display: initial;
  }

  header .navbar{
    position: absolute;
    top:100%; left: 0; right:0;
    background: #f7f7f7;
    border-top: .1rem solid rgba(0,0,0,.1);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header .navbar.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  header .navbar a{
    margin: 1.5rem;
    padding:1.5rem;
    display: block;
    border:.2rem solid rgba(0,0,0,.1);
    border-left:.5rem solid var(--red);
    background:#fff;
  }

}

@media(max-width:450px){

  html{
    font-size: 50%;
  }

}